@@include('../partials/_layouts/_page_top.html')

@@include('../partials/_components/_main_navigation.html')

<h1 class="first-title">Design Guideline</h1>
<section>
  <h2 class="second-title">Colors</h2>
  <ul>
    <li style="padding: 20px; background-color: #c4c0cf;">$color-purple-lighter: #c4c0cf;</li>
    <li style="padding: 20px; background-color: #615474;">$color-purple-fade: #615474;</li>
    <li style="padding: 20px; background-color: #524664;">$color-purple: #524664;</li>
    <li style="padding: 20px; background-color: #5c5766;">$color-purple-darker: #5c5766;</li>
    <li style="padding: 20px; background-color: #fff0ca;">$color-yellow-fade: #fff0ca;</li>
    <li style="padding: 20px; background-color: #ffd670;">$color-yellow: #ffd670;</li>
    <li style="padding: 20px; background-color: #bc492b;">$color-red: #bc492b;</li>
    <li style="padding: 20px; background-color: #f3f3f3;">$color-gray: #f3f3f3;</li>
    <li style="padding: 20px; background-color: #aaa;">$color-gray-darker: #aaa;</li>
    <li style="padding: 20px; color: #fff; background-color: #231F20;">$color-black: #231F20;</li>
  </ul>
</section>

<section>
  <h2 class="firs-title">Components</h2>
  <h3 class="third-title">Circles</h3>
  <div class="circle"></div>
  <div class="circle circle-yellow"></div>
  <div class="circle circle-red"></div>
</section>

<section>
  <h2 class="second-title">Progress Bars</h2>
  <div class="progress-bar-wrapper">
    <div class="progress-bar-value">
      <p class="progress-bar-title">
        <span>PROGRESS BAR</span>
        <span>94%</span>
      </p>
    </div>
    <progress class="progress-bar" max="100" value="94"></progress>
  </div>
  <div class="progress-bar-wrapper">
    <div class="progress-bar-value">
        <p class="progress-bar-title">
          <span>PROGRESS BAR</span>
          <span>42%</span>
        </p>
    </div>
    <progress class="progress-bar" max="100" value="42"></progress>
  </div>
  <div class="progress-bar-wrapper">
    <div class="progress-bar-value">
      <p class="progress-bar-title">
        <span>PROGRESS BAR</span>
        <span>57%</span>
      </p>
    </div>
    <progress class="progress-bar" max="100" value="57"></progress>
  </div>
</section>

@@include('../partials/_layouts/_page_bottom.html')
