// Style Guide
// -----------------------------------------------------------------------------
@import "app";

body { background-color: darken($color-gray, 2%); }

.circle-yellow {
  @include circle(60px, 3px, $color-yellow);
}

.circle-red {
  @include circle(90px, 4px, $color-red);
}
