// Components
// -----------------------------------------------------------------------------

// Circles
.circle {
  @extend %inline-middle;
  @include circle();
}

// Progress bar
.progress-bar {
  width: 100%;
  height: 42px;
  margin: 10px 0;
  background-color: $color-purple-fade;
  border-radius: 6px;
  appearance: none;
}

.progress-bar-value {
  display: table;
  width: 0;
  min-width: 200px;
  height: 100%;
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}

.progress-bar-title {
  @extend %center-vertically;
  margin: 0;
  padding: 0 20px;
  color: $color-white;
  font-weight: 700;
  background-color: $color-yellow;
  @include border-left-radius(4px);
  animation: bar_opacity 1s 1 .12s cubic-bezier(0, 0, 0.2, 1) normal both;

  span {
    &:first-child { @extend %pull-left; }

    &:last-child {
      @extend %pull-right;
      color: $color-purple;
    }
  }
}

@keyframes bar_opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
