// General types style
// -----------------------------------------------------------------------------
a {
  color: $color-default;
  text-decoration: none;
  transition: all .06s ease-in-out;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li { list-style: none; }

button {
  outline: none;
  cursor: pointer;

  &:focus { outline: none; }
}

// Titles
.first-title {
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 46px;
}

.second-title {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 46px;
}

.third-title {
  margin: 0 0 10px;
  font-size: 26px;
  line-height: 40px;
}
