// Helpers classes
// -----------------------------------
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}

// Image replacement
%ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

// Alignments
%align-left { text-align: left; }
%align-center { text-align: center; }
%align-right { text-align: right; }

// Floats
%pull-left { float: left; }
%pull-right { float: right; }

// Center
%center-vertically {
  display: table-cell;
  vertical-align: middle;
}

%center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Inlines
%inline-top {
  display: inline-block;
  vertical-align: top;
}

%inline-middle {
  display: inline-block;
  vertical-align: middle;
}

%inline-bottom {
  display: inline-block;
  vertical-align: bottom;
}

%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Display
%show { display: block; }
%hide { display: none; }

%visible {
  opacity: 1;
  visibility: visible;
}

%invisible {
  opacity: 0;
  visibility: hidden;
}

%no-padding { padding: 0; }
%no-margin { margin: 0; }
