// Variables
// -----------------------------------

// Fonts
$font-size-default: 16px;
$line-height-default: 22px;
$font-sans-serif: Arial, sans-serif;
$font-roboto-slab: 'Roboto Slab', $font-sans-serif;

// Colors
$color-white: #fff;
$color-black: #231F20;
$color-purple: #524664;
$color-purple-fade: #615474;
$color-purple-darker: #5c5766;
$color-purple-lighter: #c4c0cf;
$color-yellow: #ffd670;
$color-yellow-fade: #fff0ca;
$color-gray: #f3f3f3;
$color-gray-darker: #aaa;
$color-red: #bc492b;

// Defaults
$font-weight-default: 400;
$font-style-default: normal;
$font-family-default: $font-roboto-slab;
$color-default: $color-black;

// Media queries breakpoints
$breakpoint-phone  : 480px;
$breakpoint-tablet : 768px;
$breakpoint-small  : 1080px;
$breakpoint-medium : 1280px;
$breakpoint-large  : 1440px;
$breakpoint-extra-large: $breakpoint-large + 1;

// Assets path
$assets-path: '../';
$images-path: '../images/';
$fonts-path: '../fonts/';
$vendors-path: '../vendors/';

// Z-indexes
$zindex: (
  belowLayer   : -1,
  defaultLayer : 0,
  firstLayer   : 1000,
  secondLayer  : 2000,
  thirdLayer   : 3000,
  fourthLayer  : 4000,
  fifthLayer   : 5000,
  sixthLayer   : 6000,
  seventhLayer : 7000,
  eighthLayer  : 8000,
  ninthLayer   : 9000,
  tenthLayer   : 10000
);
